@import "reset";

*{
  box-sizing: border-box;
  text-size-adjust:none;
  font-family: monospace;
}

body{
  font-family: monospace;
}

.container{
  margin: 100px auto;
  width: 400px;
}

input{
  width: 100%;
  padding: 15px 10px;
  margin: 0 0 60px;
  border:1px solid #ccc;
  &:focus{
    outline:0;
    color:magenta;
    border-color:magenta
  }
}

.project{
  margin: 0 0 20px;
  border-bottom: 1px dotted #000;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
  &:focus{
    outline:0;
    color:magenta;
    border-color:magenta
  }
  &[running=true]::after{
    content:'Running';
    position: absolute;
    left: calc(100% + 15px);
    color:magenta;
  }
}

.keys{
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 20px 0;
  >div{
    display: inline-block;
    margin-right: 20px;
  }
}

.key{
  background-color: #eee;
  border:1px solid #666;
  padding: 2px 4px 1px;
  border-radius: 3px;
  font-size: 12px;
}